<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.helloworld"
        version   = "1.0.0">

    <name>Chpmobile</name>

    <description>
        A sample application that counts the occurances of lifecycle events.
    </description>

    <author href="worcester.ac.uk" email="papc2_12@uni.worc.ac.uk">
        charis papaioannou
    </author>
<gap:platform name="android" />
 <platform name="android">
              <icon src="icon/logo.png" density="ldpi" />
              <icon src="icon/logo.png" density="mdpi" />
              <icon src="icon/logo.png" density="hdpi" />
              <icon src="icon/logo.png" density="xhdpi" />
     </platform>
</widget>
